__pycache__
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.coverage
.pytest_cache
.venv
venv
.DS_Store
.git
.gitignore
.env
.env.*
htmlcov
docker-compose.prod.yml
docker-compose.yml
README.md
test_main.http
tests/